@font-face {
  font-family: TTNormal; /* Имя шрифта */
  src: url(../fonts/TT\ Norms\ Pro\ Light.otf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: TTNormalBold; /* Имя шрифта */
  src: url(../fonts/TT\ Norms\ Pro\ Medium.otf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: TTNormalRegular; /* Имя шрифта */
  src: url(../fonts/TT\ Norms\ Pro\ Regular.otf); /* Путь к файлу со шрифтом */
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'TTNormal';
  color: #201b2d;
  font-size: 13px;
  padding: 0 50px; 
  margin: 0 auto;
}

.header {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.container {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 46px;
}
/* BUTTONS */

.btn__report {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  width: 180px;
  height: 40px;
  background: #4990E2;
  border-style: unset;
  border-radius: 3px;
  transition: All 1.5s ease;
}
.btn__report:hover {
  background: cyan;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
}
.btn__search {
  width: 90px;
  height: 40px;
  color: #ffffff;
  background: #353535;
  border-style: unset;
  border-radius: 3px;
  margin-left: 20px;
}
/* Search */

.Search {
  padding-bottom: 30px;
}
.search__title {
  color: #8C8C8C;
  padding-bottom: 21px;
  margin: 30px 0 0 0px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
}
#search__input {
  width: 210px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  letter-spacing: 0.55px;
  font-size: 16px;
}

.about {
  display: none
}

/* Unit */

.unit {
  display: flex;
  justify-content: space-between;
}
.name__title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
h2 {
  font-family: TTNormalRegular;
  margin: 0 0 0 60.26px;
  width: 235px;
  height: 80px;
  font-size: 20px;
  letter-spacing: 0.9px;
  color: #353535;
}
.name__select {
  position: relative;
  display: inline-block;
  padding-bottom: 19px;    
}
.name__select:after {
  content: url('..//img/Vector\ \(1\).svg');
  position: absolute;
  right: 8px;
  top: 6px;
}
/* Верстка логотипа */
.name__logo {
  position: absolute;
  width: 39.74px;
  height: 40px;
}
.circle {
  position: absolute;
  left: 50%;
  right: 37.5%;
  top: 4.17%;
  bottom: 83.33%;
  background: #FFC107;
  border-radius: 50%;
  z-index: 2;
}
.oval {
  position: absolute;
  left: 54.17%;
  right: 41.67%;
  top: 12.5%;
  bottom: 75%;
  background: #FFA000;
  border-radius: 2px;
  z-index: 1;
}
.rectangle {
  position: absolute;
  left: 45.83%;
  right: 33.33%;
  top: 20.83%;
  bottom: 47.83%;
  background: #FFD54F;
  border-radius: 1px;
  z-index: 2;
}
.platform {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 41.66%;
  bottom: 45.83%;
  width: 39.73px;
  height: 5px;
  z-index: 2;
}
.rectangle2 {
  position: absolute;
  left: 16.67%;
  right: 79.17%;
  top: 50%;
  bottom: 37.5%;
  background: #CFD8DC;
  border-radius: 2px;
  z-index: 1;
}
.rectangle3 {
  position: absolute;
  left: 79.16%;
  right: 16.67%;
  top: 50%;
  bottom: 37.5%;
  border-radius: 2px;
  background: #CFD8DC;
}
.trapezoid1 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 58.33%;
  bottom: 22.92%;
  z-index: 2;
}
.trapezoid2 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 75.08%;
  bottom: 4.17%;
  z-index: 1;
}
.rectangle-bottom1 {
  position: absolute;
  left: 12.5%;
  right: 54.17%;
  top: 83.33%;
  bottom: 12.5%;
  background: #B0BEC5;
  border-radius: 2px;
  z-index: 2;
}
.rectangle-bottom2 {
  position: absolute;
  left: 54.17%;
  right: 37.5%;
  top: 83.33%;
  bottom: 12.5%;
  background: #B0BEC5;
  border-radius: 2px;
  z-index: 2;
}
.rectangle-bottom3 {
  position: absolute;
  left: 66.67%;
  right: 25%;
  top: 83.33%;
  bottom: 12.5%;
  background: #B0BEC5;
  border-radius: 2px;
  z-index: 2;
}
.rectangle-bottom4 {
  position: absolute;
  left: 79.16%;
  right: 12.5%;
  top: 83.33%;
  bottom: 12.5%;
  background: #B0BEC5;
  border-radius: 2px;
  z-index: 2;
}
select {
  appearance: none;
  color: #353535;
  border: 1.4px solid #E9E9E9;
}
.form-control {
  width: 220px;
  height: 30px;
}
option {
  font-size: 16px;
  line-height: 24px;
  margin-left: 12px;
}
/* RADIO кнопки */
.name__radio {
  padding-bottom: 51px;
}
.radio__title {
  font-size: 14px;
  letter-spacing: 0.16px;
  line-height: 20px;
  color: #353535;
}
.radio {
  display: block;
  cursor: pointer;
}
.radio:first-child {
    padding-bottom: 11px;
}
.radio:nth-child(2) {
  padding-bottom: 9px;
}
.radio__real {
  width: 1px;
  height: 1px;
  opacity: 0;
  appearance: none;
  margin: 0;
}
.radio__real:checked + .radio__fake::before{
  content: "";
  position: absolute;
  top: 17%;
  left: 17%;
  width: 10px;
  height: 10px;
  background: #4990E2;
  border-radius: 50%;
  transform: translate(-50%;-50%);
}
    
.radio__fake {
  position: relative;
  display: inline-block;
  width: 19px;
  height: 19px;
  background: #FFFFFF;
  border: 2px solid #C1C1C1;
  border-radius: 50%;
  margin: 2px 12px 0 1px;
  vertical-align: bottom;  
}
.info {
  display: block;
  padding: 20px 18.33px;
  background:  #F7F7F7;
  font-size: 14px;
  width: 535px;
}
.info__list {
  background: #f7f7f7;
  line-height: 1.5em;
  font-family: TTNormalBold;
  padding: 0;
}
li {
  display: block;
  font-size: 14px;
}
span {
  color: #8C8C8C;
}

/* Section TABLE */

.report {
  width: 900px;
  height: 100%;
  border: 1px dashed #939DA6;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.table {
  display: none;
}

table {  
  border-collapse: collapse;
  margin: 0 auto 60px 40px;
  text-align: left;
  line-height: 15px;
  color: #353535; 
  border-spacing: 0 24px
}
.table__title {
  font-family: TTNormalBold;
  color: #000000;
  font-size: 16px;
  text-align: -webkit-left;
  margin: 40px 0 0px 0px;
  padding-bottom: 27px
}
td {
  padding: 10px 0 ;
}
table td:first-child {
  font-size: 16px;
  line-height: 19px;
}
table td:last-child {
  font-size: 12px;
  line-height: 14px;
}

th { 
  color: #939DA6;
  padding-bottom: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ffffff;
}
tr {
  vertical-align: top;
  border-bottom: 1px solid #e9e9e9;
}

table tr:last-child {
  border-bottom: 1px solid #ffffff;
}

.col1 {
  width: 120px;
  height: 40px;
  color: #353535
}
.col2 {
  width: 240px;
  height: 100px;
    
}
.col3 {
  width: 120px;
}
.col4 {
  width: 120px;
}
.col5 {
  font-size: 12px;
  line-height: 14px;
  margin-left: 640px;
}
 /* Checkbox */

.checkbox {
  display: block;
  cursor: pointer;
}
.checkbox__real {
  width: 1px;
  height: 1px;
  appearance: none;
  margin: 0;
  opacity: 0;
}
.checkbox__fake {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url('../img/check.svg') no-repeat;
  border-radius: 50%;
  transform: translate(-50%;-50%);
  margin-left: 25px;
}

.checkbox__false {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url('../img/check2.svg') no-repeat;
  border-radius: 50%;
  transform: translate(-50%;-50%);
  margin-left: 25px;
}

/* Footer */
h3 {
  text-align: center;
  margin: 0 0 20px 0;
}